@import url(./variables.css);
@import url(./components.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--primary-color);
  font-size: 1.1rem;
  color: var(--white-color);
  transition: all 0.4s ease-in-out;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

header {
  height: 100vh;
  color: var(--white-color);
  overflow: hidden;
}

section {
  min-height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0%;
  padding: 3rem 18rem;
}

.section {
  transform: translateY(-100%) scale(0);
  transition: all 0.4s ease-in-out;
  background-color: var(--primary-color);
}

.sec1 {
  display: none;
  transform: translateY(0) scale(1);
}

.sec2 {
  display: none;
  transform: translateY(0) scale(1);
  background-color: var(--primary-color);
}

.sec3 {
  display: none;
  transform: translateY(0) scale(1);
}

.sec4 {
  display: none;
  transform: translateY(0) scale(1);
}

.sec5 {
  display: none;
  transform: translateY(0) scale(1);
}

/* controls */

.active {
  display: block;
  animation: scaleAnim 1s ease-in-out;
}
@keyframes scaleAnim {
  0% {
    transform: translateY(-100%) scaleY(0);
  }

  100% {
    transform: translateY(0) scaleY(1);
  }
}

.controls {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 35%;
  right: 3%;
  align-items: center;
  justify-content: center;
  transform: translate(-50%);
  z-index: 10;
}

.controls .active-btn {
  background-color: var(--secondary-color);
  transition: all 0.4s ease-in-out;
}

.controls .active-btn i {
  color: var(--white-color);
}

.control {
  display: flex;
  width: 55px;
  height: 55px;
  padding: 1rem;
  margin: 0.7rem 0;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50px;
  background-color: var(--grey-4-color);
  box-shadow: var(--box-shadow-1);
}

i {
  font-size: 1.2rem;
  pointer-events: none;
  color: var(--grey-2-color);
}

/* header-content */

.header-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100%;
}

.header-content .left-side {
  display: flex;
  align-items: center;
  position: relative;
}

.header-content .left-side .h-shape {
  transition: all 0.4s ease-in-out;
  width: 65%;
  height: 100%;
  background-color: var(--secondary-color);
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}

.image {
  height: 50%;
  width: 50%;
  margin-left: 2rem;
  border-radius: var(--br-sm-2);
  background-color: var(--primary-color);
  transition: all 0.4s ease-in-out;
}

.image img {
  border-radius: var(--br-sm-2);
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: all 0.4s ease-in-out;
  filter: grayscale(100%);
}

.image img:hover {
  filter: grayscale(0);
  background-color: var(--primary-color);
}

.right-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 18rem;
}

.right-side .name {
  font-size: 3rem;
}

.right-side .name span {
  color: var(--secondary-color);
}

.right-side .name p {
  margin: 2rem 0;
  line-height: 2rem;
}

.main-title {
  text-align: center;
}

.main-title h2 {
  position: relative;
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 700;
}

.main-title span {
  color: var(--secondary-color);
}

.main-title .bg-text {
  position: absolute;
  top: 50%;
  left: 50%;
  color: var(--grey-5-color);
  transition: all 0.4s ease-in-out;
  z-index: -1;
  transform: translate(-50%, -50%);
  font-weight: 800;
  font-size: 6.3rem;
}

/* about */

.about-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 3.5rem;
  padding-bottom: 5rem;
}

.about-container .right-about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid: gap 3rem;
}

.about-container .right-about .about-item {
  border: 1px solid var(--grey-5-color);
  border-radius: 5px;
  transition: all 0.4s ease-in-out;
  box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.1);
}

.about-container .right-about .about-item:hover {
  cursor: default;
  transform: translateY(-5px);
  border: 1px solid var(--secondary-color);
  box-shadow: 1px 4px 15px rgba(0, 0, 0, 0.32);
}

.left-about {
  padding-right: 5rem;
}

.left-about p {
  line-height: 2rem;
  padding: 1rem;
  color: var(--grey-1-color);
}

.left-about h4 {
  font-size: 2rem;
  text-transform: uppercase;
}

.abt-text {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
}

.abt-text .large-text {
  font-size: 3rem;
  font-weight: 700;
  color: var(--secondary-color);
}

.abt-text .small-text {
  padding-left: 2.5rem;
  position: relative;
  text-transform: uppercase;
  font-size: 1.2rem;
  color: var(--grey-1-color);
  letter-spacing: 2px;
}

.abt-text .small-text::before {
  content: "";
  position: absolute;
  left: 0;
  top: 15px;
  width: 2rem;
  height: 2px;
  background-color: var(--grey-5-color);
}
